.header-container,
.footer-container {
    position: fixed;
    left: 0;
    right: 0;
    height: var(--xx-large);
    z-index: 2;
    border: 1px solid rgba(165, 165, 165, 0.12);

}
.header-container {
    top: 0;
}
.footer-container {
    bottom: 0;
}

.glass-bg {
    /* --- foggy glass */
    /* backdrop-filter: blur(5px) saturate(5%);
    -webkit-backdrop-filter: blur(5px) saturate(5%);
    background-color: rgba(92, 95, 102, 0.71); */

    /* From https://css.glass */
    background: rgba(165, 165, 165, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.41);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    /* border-radius: 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
}