:root {
    /* SIZING */
    --base-size: 14px;
    --xxx-large: 11.089rem;
    --xx-large: 6.854rem;
    --x-large: 4.236rem;
    --large: 2.618rem;
    --husky: 1.618rem;
    --normal: 1rem;
    --small: 0.618rem;
    --x-small: 0.382rem;
    --xx-small: 0.236rem;
    /* COLORS */
    --white: rgb(255, 250, 255);
    --black: rgb(26, 23, 23);
    --grey-bg: rgb(37, 37, 37);
    --grey-text: rgb(224, 224, 224);
    --blue: rgb(34, 116, 165);
    --yellow-1: rgb(246, 174, 45);
    --yellow-2: rgb(246, 174, 40);
    --purple: rgb(133, 71, 152);
    --error-delete: rgb(223, 41, 53);
}
/* --- GLOBAL & RESETS --- */
/* -                     -
   - -                 - -
   - - -             - - - */
.main-text,
.delete-color-secondary {
    color: var(--white);
}
.secondary-text,
.inactive {
    color: var(--grey-text);
}
.accent-text,
.pinned {
    color: var(--yellow-1);
}
.ok-color {
    color: var(--blue);
}
.locked {
    color: var(--purple);
}
.error,
.delete-color-primary {
    color: var(--error-delete);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 14px;
    height: 100%;
}

body {
    background-color: rgb(10, 9, 9);
    color: white;
    font-family: 'Heebo', sans-serif;
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}
.flex.col {
    flex-direction: column;
}

ul {
    list-style: none;
    width: 100%;
    overflow-y: scroll;
}

.page-title {
    font-weight: 800;
}
.text-item {
    align-self: flex-end;
}

header,
.margin-wrapper,
footer {
    padding: 0 1.15rem;
}

/* === MODAL === */
.modal-container {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: 2;
    border-top: 5px solid coral;
    border-left: 5px solid coral;
    border-right: 5px solid coral;
    border-radius: 25px 25px 0 0;
    transform: translateY(0);
    transition: transform 500ms ease-out;
}
.modal-container.closed-modal {
    bottom: -100%;
    transform: translateY(100%);
}
.modal-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* === DATABASE TABLE === */
.table-parent {
    display: flex;
    overflow: hidden;
}

.folders-container,
.database-table-container {
    flex: 1 0 auto;
    height: 500px;
    width: 100%;
    transition: opacity 250ms ease-out;
}
.folders-container {
    transform: translateX(0);
    background-color: blue;
}
.database-container {
    transform: translateX(-100%);
    background-color: red;
}

.folders-container.toggle-out {
    transform: translateX(-100%);
    opacity: 0;
}
.database-container.toggle-out {
    transform: translateX(100%);
    opacity: 0;
}