.main-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: calc(100vh - (var(--xx-large) * 2));
    transition: top 300ms ease-in-out;
    border-radius: 14px 14px 0 0;
}

.main-container.translate-up {
    top: 50%;
}

.main-container .margin-wrapper {
    width: 100%;
    overflow-y: scroll;
}

.list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--grey-bg);
    border-radius: 14px 14px 0 0;
    overflow: hidden;
    line-height: 100%;
}

.list-container > * {
    flex: 1 0 45px;
    padding: var(--x-small) calc(var(--small) + 3px);
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.15rem;
    position: relative
}

.list-container > * {
    position: relative;
    top: 0;
    left: 0;
    letter-spacing: 0.025rem;
}

.fa-folder {
    font-weight: unset;
    font-size: 1.42rem;
}

.right-container {
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.right-container::after {
    content: '';
    position: absolute;
    top: calc((var(--x-small) * 2) + 5px);
    right: calc((var(--x-small) * 2) * -1);
    width: calc(100% + (var(--x-small) * 2));
    height: 100%;
    border-bottom: 0.025rem solid rgb(255,255,255,0.46);
}

.right-container > * {
    flex: 0 1 auto;
}

.right-container .text-item {
    font-size: 0.98rem;
    font-weight: bold;
}

.right-container i {
    color: rgb(255,255,255,0.46);
    font-size: calc(var(--normal) - 0.05rem);
}