.main-container {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: calc(95vh - (var(--xx-large)));
    transition: top 300ms ease-in-out;
    overflow-y: scroll;
}

.main-container .margin-wrapper {
    width: 100%;
    overflow-y: scroll;
}

.list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--grey-bg);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    line-height: 100%;
}
.list-container.default-view {
    transform: translateY(5.5rem);
}

.state-2 > .main-table-container > div > .list-container {
    transform: translateY(55px);
    transition: transform 300ms ease-in;
}
.state-3 > .main-table-container {
    top: 50%;
}
.state-3 > .main-table-container > div > .list-container {
    transform: translateY(105px);
    transition: transform 300ms ease-in;
}
.state-3 > .main-table-container > div > .searchbar-container {
    display: none;
}

.list-container > * {
    flex: 1 0 45px;
    padding: var(--x-small) calc(var(--small) + 3px);
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.15rem;
    position: relative;
}

.list-container > * {
    position: relative;
    top: 0;
    left: 0;
    letter-spacing: 0.025rem;
}

.fa-folder {
    font-weight: unset;
    font-size: 1.42rem;
}

.right-container {
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.right-container::after {
    content: '';
    position: absolute;
    top: calc((var(--x-small) * 2) + 5px);
    right: calc((var(--x-small) * 2) * -1);
    width: calc(100% + (var(--x-small) * 2));
    height: 100%;
    border-bottom: 0.025rem solid rgb(255,255,255,0.46);
}

.right-container > * {
    flex: 0 1 auto;
}

.right-container .text-item {
    font-size: 1.2rem;
    font-weight: 400;
}

.right-container i {
    color: rgb(255,255,255,0.46);
    font-size: calc(var(--normal) - 0.05rem);
}